# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues
azure-functions==1.21.3
azure-eventhub==5.12.2  # Latest as of October 2023
azure-servicebus==7.12.3  # Latest as of October 2023
protobuf==3.20.*  # Latest as of October 2023
azure-cosmos==4.7.0  # Latest as of October 2023
python-dotenv==0.21.1  # Latest as of October 2023
azure-data-tables==12.5.0  # Latest as of October 2023
azure-monitor-opentelemetry==1.6.2  # Latest as of October 2023
azure-identity==1.19.0